$color-text-light: #C09247;
$color-bgcolor-light:#EF6C33;
$color-text-hover: #ED7458;
$color-primary-dark:#0C4A60;
$color-text-dark:rgb(25, 26, 26);


$fontsize-sm:1.2rem;
$fontsize-middle:1.8rem;
$fontsize-ext:2rem;
$fontsize-lag:2.8rem