.about-container{
    background-color: rgb(238, 233, 233);
padding: 4rem;
    .heads{
        text-align: center;
        font-size: $fontsize-lag;
        color: $color-text-hover;
       
        font-family: "Sedgwick Ave Display", cursive;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase
    }
    .abouts{
        @include flexs(center,center,4rem);
        font-family: "Average Sans", sans-serif;
        font-weight: 400;
        font-style: normal;

        .about-image{
           
        
            width: 90%;
            // img{
            //     width: 150px;
            //     border-radius: 50%;
            //     height: 150px;
            //     padding-bottom: 1rem;
             
                
            // }
            p{
                font-size: $fontsize-ext;
               
                 font-family: "Average Sans", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            .icons{
                background-color:rgb(238, 233, 233);;
                @include flexs(center,center,2rem);
                padding: 2rem;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                color: $color-primary-dark;
                border-bottom: 2px solid rgb(44, 94, 94);
               

                .icon{
                    font-size: $fontsize-ext;
                    cursor: pointer;
            
                }
               
            }
        }
        .ab-cont{
            font-size: $fontsize-lag;
            font-family: "Average Sans", sans-serif;
                font-weight: 400;
                font-style: normal;
            padding-left: 4rem
        
        }
        @media screen and (max-width:992px) {
            .ab-cont{
               font-size: 1.8rem
            }
        }
        .btn-ab{
            @include flexs(center,center,0);

            button{
                @include button( $color-text-hover,white);
                font-size: $fontsize-middle;
            }
        }
    }
    @media screen and (max-width:992px) {
        .abouts{
            flex-direction: column
        }
    }
    .tools{
        @include flexs(center,center,1rem);
        flex-direction: column;

        padding: 4rem 0;

        .propt{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap:1rem
        }
        .heads{
            text-align: center;
        font-size: $fontsize-lag;
        color: $color-text-hover;
        padding: 1rem;
        }
    }
}