.home-container{
    background-color:$color-bgcolor-light;
    padding: 4rem;
    width: 100%;
    height: 100vh;

    .home{
       @include flexs(space-around,center,0);

       .image{
        width: 500px;
        height: 500px;

        .img{
            width: 100%;
            height: 100%;
        }
       }

       .home-text{
        @include flexs(center,center,0);
        flex-direction: column-reverse;
        span{
            color: $color-primary-dark;
        }
        .paragraph{
            padding: 1rem 0;
            color: $color-text-dark;
            letter-spacing: .2rem;
       font-size: $fontsize-middle
        }
       }
       .btn-home{
        @include flexs(center,center,3rem);
    padding: 1.5rem;

    button{
        @include button( $color-primary-dark,white);
        font-size: $fontsize-middle;
    }
       }
    }
}