@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Sedgwick+Ave+Display&display=swap');

nav{
    background-color: rgb(255, 255, 255);
    position: sticky;
        top: 0;
        z-index: 999;
        width: 100%;
    .navbar{
        @include flexs(space-between,center,0);
        padding: 1rem 3rem;

        .logo{
            font-size: 2rem;
            color: $color-text-hover;
            font-family: "Sedgwick Ave Display", cursive;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase
        }
        .nav-links{
            @include flexs(center,center,2rem);
            list-style: none;
            font-size: 1.8rem;
            

            .link{
                text-decoration: none;
                color: $color-text-light;
                font-family: "Average Sans", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: black;
                transition: all .3s;

                &:hover{
                    color: $color-text-hover;
                    font-size: xx-large;
                    text-transform: uppercase;
                    font-family: "Sedgwick Ave Display", cursive;
            font-weight: 400;
            font-style: normal;
                }
            }
        }
        @media screen and (max-width:506px) {
            .nav-links{
                display: none;
            }
        }
       
    }
 
}